extends layout

include world_previews
include all_cruddies

block content
    h1= title
    p Welcome to #[em Crudworld], a chaotic world in which everyone is omnipotent.

    h1 Dynamic content

    if error
        p Error getting dynamic content.
    else
        p Crudworld has the following record counts:

        ul
            li #[strong Cruddies:] !{data.cruddy_count}

    a(href="/catalog/creator") New Cruddy

    +all_cruddies(data)

    +world_previews(data)