mixin world_previews(data)

    div.world-previews
        if data.world_list.length > 1
            each world in data.world_list 
                
                div.world-preview
                    div= world.name
                    a(href=world.url) Go Here
                
                