mixin world(data)
    div.crudbox
        each cruddy in data.cruddy_list
            div.crud
                .crudfoot2
                .crudfoot1
                .bod.crudbod1(style=`background-color: ${cruddy.color}`)
                .bod.crudbod2(style=`background-color: ${cruddy.color}`)
                .eye1
                .eye2
