:root {
    --mint: #76f7bf;
    --deep-green: #499167;
    --crimson: #CA2E55;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.maincontainer {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background-color: red;
}

.crudbox {
    background-color: rgba(255, 0, 0, 0);
}

.crud {
    height: 8rem;
    width: 8rem;
    background-color: rgba(85, 36, 131, 0);

    position: relative;
    filter: drop-shadow(0px 0px 2px black);

}

.crud>* {
    pointer-events: none;
}

.crud>div {
    background-image: url('/public/images/felt.jpg');
}


.crud .crudbod1 {
    position: absolute;

    top: 10%;
    left: 0%;

    background-color: rgb(255, 255, 255);
    border-radius: 50% 50% 50% 30%;
    filter: opacity(0.7);
    width: 75%;
    height: 75%;

    transition: all 0.3s;
}

.crud>.crudfelt1 {
    position: absolute;

    top: 10%;
    left: 0%;

    background-image: url('../images/felt.jpg');
    background-size: 100rem 100rem;
    filter: brightness(2) contrast(1.5);
    border-radius: 50% 50% 50% 30%;
    width: 75%;
    height: 75%;

    transition: all 0.3s;
}


.crud .crudbod2 {
    position: absolute;

    bottom: 15%;
    left: 0%;

    background-color: rgb(255, 255, 255);
    border-radius: 100% 100% 60% 60%;
    filter: opacity(0.7);
    width: 90%;
    height: 50%;

    transition: all 0.3s;
}

.crud>.crudfelt2 {
    position: absolute;

    bottom: 15%;
    left: 0%;

    background-image: url('../images/felt.jpg');
    background-position: 0% 4.5%;
    background-size: 100rem 100rem;
    filter: brightness(2) contrast(1.5) drop-shadow(0px 10px 0px rgb(42, 42, 42));
    
    border-radius: 100% 100% 60% 60%;
    width: 90%;
    height: 50%;

    transition: all 0.3s;
}



.crud>.crudfoot1 {
    position: absolute;
    background-color: rgb(104, 104, 104);

    bottom: 0%;
    left: 0%;

    filter:  drop-shadow(0px 10px 0px rgb(42, 42, 42));
    border-radius: 70% 150% 10% 35%;
    width: 60%;
    height: 25%;

    transform-origin: top left;
}

.crud>.crudfoot2 {
    position: absolute;
    background-color: rgb(71, 71, 71);

    bottom: 5%;
    right: 0%;

    filter:  drop-shadow(0px 10px 0px rgb(42, 42, 42));
    border-radius: 70% 150% 10% 35%;
    width: 60%;
    height: 30%;

    transform-origin: top left;
}

.crud>.eye1 {
    position: absolute;
    background-color: rgb(3, 3, 3);

    top: 40%;
    right: 40%;

    border-radius: 30%;
    width: 5%;
    height: 15%;
    animation: blink 4s infinite;
}

.crud>.eye2 {
    position: absolute;
    background-color: rgb(3, 3, 3);

    top: 40%;
    right: 55%;

    border-radius: 30%;
    width: 5%;
    height: 15%;
    animation: blink 4s infinite;
}

@keyframes blink {
    0% {transform: scaleY(1);}
    95% {transform: scaleY(1);}
    97.5% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}

.felt {
    position: relative;
    filter: opacity(1) drop-shadow(0px 10px 0px rgb(42, 42, 42));

    border-radius: 25px;
}

.felt::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    background-image: url('../images/felt.jpg');
    mix-blend-mode: multiply;
    background-size: 100rem 100rem;
    filter: brightness(2) contrast(1.5) opacity(0.7);
    border-radius: 25px;
}

#creator {
    display: flex;

    background-color: green;
    width: 100%;
    height: 100%;
}

#optionsbox {
    flex-grow: 1;
    background-color: var(--crimson);
    filter: opacity(1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

#optionsbox label {
    margin: 0;
}

#cruddisplay {
    background-color: var(--mint);

    display: flex;
    justify-content: center;
    align-items: center;
}

#cruddisplay>.crud {
    height: 20rem;
    width: 20rem;

    margin: 20px;
}

#creator h2 {
    margin-bottom: -15px;
}

#colorpicker, #worldpicker {
    display: flex;
    gap: 10px;
    padding: 20px;

    background-color: #5eb381;
}

#creator label {
    transition: all 0.3s;
    cursor: pointer;

    padding: 10px;
    box-shadow: 0px 0px 0px black;
    border-radius: 10px;
}

#worldpicker label {
    background-color: var(--crimson);
    color: white;
}

#worldpicker label:hover {
    background-color: #eba3b5;
    color: black;
}

#colorpicker label:hover {
    background-color: white !important;
    color: black;
    backdrop-filter: brightness(0.5);
}


#creator input:checked + label {
    background-color: white;
    transform: scale(1.3);
    z-index: 1;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.438);
}

#worldpicker input:checked + label {
    background-color: #eba3b5;
    color: black;
}

#creator input[type='radio'] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.custom-button {
    border-radius: 100%;
    position: relative;

    border: 10px outset rgb(90, 90, 90);
    background: rgb(179,179,179);
    background: linear-gradient(135deg, rgba(179,179,179,1) 0%, rgba(78,78,78,1) 100%);
    color: white;
    font-weight: bolder;
    font-size: 1.6rem;

    filter: drop-shadow(0px 5px 0px rgb(53, 53, 53));
}

.custom-button:after {
    content: '';

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);

    height: 13%;
    width: 13%;
    background-color: black;
    border-radius: 100%;

}

.custom-button:before {
    content: '';

    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%);

    height: 13%;
    width: 13%;
    background-color: black;
    border-radius: 100%;
}

.custom-button:hover {
    animation: buttonhover 1.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
}

@keyframes buttonhover {
    0% {transform: scaleX(1);
        filter: drop-shadow(0px 5px 0px rgb(53, 53, 53));}
    50% {transform: scaleY(0.7);
        filter: drop-shadow(0px 20px 0px rgb(53, 53, 53));}
    100% {transform: scaleX(1);
        filter: drop-shadow(0px 5px 0px rgb(53, 53, 53));}
}

.custom-button>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#creator button {
    
    height: 8rem;
    width: 8rem;
}

.crud>form {
    position: absolute;
    right: 0%;
    top: 7%;

    transform: translate(100%, 0%);
    background-color: rgb(132, 132, 255);
    padding: 10px;

    filter: drop-shadow(0px 0px 2px black) opacity(0);
    transition: all 0.2s;
    pointer-events: none;
}

.crud>form.visible {
    filter: drop-shadow(0px 0px 2px black) opacity(1);
}

.crud>form.visible>button, .crud>form.visible>input, .crud>form a {
    pointer-events: all;
}



.crud>form>button {
    border: none;
}

.world-previews {
    flex-grow: 1;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 15px;
}

.world-preview {

    height: 10rem;
    width: 10rem;

    border-radius: 100%;
    background-color: green;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
}

.world-preview.expanded {
    height: 20rem;
    width: 20rem;
}

.world-preview.minimized {
    height: 10rem;
    width: 10rem;
}

#world {
    height: 100%;
    width: 100%;
    
}

#sky {
    height: 50%;
    background-color: skyblue;
}

#ground {
    height: 50%;
    display: flex;
    background-color: var(--deep-green);
}

#ground .crud.walking>.bod, #ground .crud.walking>.crudfelt1, #ground .crud.walking>.crudfelt2 {
    animation: crudwalkbod 0.5s infinite;
}

@keyframes crudwalkbod {
    0%{transform: translateY(0%) scaleY(1);}
    50%{transform: translateY(-10%) scaleY(1.2);}
    100%{transform: translateY(0%) scaleY(1);}
}

#ground .crud.walking>.eye1, #ground .crud.walking>.eye2 {
    animation: crudwalkeye 0.5s infinite;
}

@keyframes crudwalkeye {
    0%{transform: translateY(0%) scaleY(1);}
    50%{transform: translateY(-110%) scaleY(1.2);}
    100%{transform: translateY(0%) scaleY(1);}
}

#ground .crud.walking>.crudfoot1 {
    animation: crudwalk1 0.5s infinite;
}

@keyframes crudwalk1 {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}

#ground .crud.walking>.crudfoot2 {
    animation: crudwalk2 0.5s infinite;
}

@keyframes crudwalk2 {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-10deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}

.bush {
    height: 10rem;
    width: 10rem;
    background-color: var(--mint);
    clip-path: polygon(6% 100%, 0 89%, 15% 74%, 9% 57%, 9% 40%, 29% 37%, 46% 51%, 61% 40%, 77% 46%, 80% 63%, 93% 71%, 96% 88%, 88% 100%);
}